/*CSS Stylesheet*/

/*General*/
body {
  font-family: 'Roboto', sans-serif;
}

.resetContainer {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* Nav */
.navbar {
  background-color: #0067b3;
  width:100%;
}

.webRow {
  width:100vw;
}

.navbar-text {
  /*using important tag to override bootstrap stylesheet*/
  color: white !important;
  font-weight: 600;
}

/* Hero */
.hero {
  width:100vw;
  height: 500px;
  background-image: url("../images/samanage-header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.heroBanner {
  text-align:center;
  text-transform: uppercase;
  color:white;
  background-color:rgb(0,0,0,.3);
  width:100vw;
  margin-top:100px;
  padding-top:30px;
  padding-bottom:30px;
}

.heroHeader {
  font-weight:200;
}

.heroText {
  font-weight:200;
}

.actionButtons {
  display: flex;
  justify-content: center;
  font-weight:500;
  margin-top:80px;
}

.btnGreen {
  margin-right: 3vw;
  background-color: #009635;
  color:white;
}

.btnYellow {
  background-color: #fbcd1b;
  color: #0067b3;
}

/* Customer Logos */
.customerLogos {
  width: 100vw;
  background-color: #eceef1;
  height:auto;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  align-items:center;
}

/* Features */
.features {
  margin-top: 100px;
}

.featuresFlex {
  display: flex;
  align-items: flex-end;
}
.featuresImg {
  width:auto;
  height:auto;
  padding-left:8.33vw;
  flex-shrink: 1;
  align-self: flex-end;
}

.featuresContent {
  display:flex;
  flex-direction: column;
  text-align:left;
  align-self:flex-end;
  padding-left:50px;
  padding-right:8.33vw;
}

.featuresHead {
  margin-left:3vw;
  padding-bottom:3vh;
  font-weight:200;
}

.featuresHeader {
  font-size: 2em;
}

.featuresText {
  font-size:.8em;
}

ul {
  list-style-type: none;
}

.featureBullets li{
  text-align:left;
  padding-bottom:3vh;
  font-size:.8em;
  font-weight:300;
}

/*Quote Request*/
.quoteRequest {
  width:100vw;
  height: 300px;
  background-image: url("../images/samanage-accordian-form-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.quoteBanner {
  text-align:center;
  color:white;
  width:100vw;
  margin-top:30px;
  padding-top:15px;
  padding-bottom:15px;
}

.quoteHeader {
  font-weight:200;
  font-size:3em;
}

.quoteText {
  font-weight:200;
  font-size:1.5em;
}

.btnQuote {
  background-color: #fbcd1b;
  color: black !important;
  font-size:2em;
}

.quoteButtons {
  display: flex;
  justify-content: center;
  font-weight:500;
  margin-top:20px;
}

/* Social Icons */
.socialIcons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top:50px;
  padding-bottom:50px;
  width:100vw;
}

.socialIconImg {
  padding-left:2vw;
  padding-right:2vw;
}

/* footer */
footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
  width:100vw;
  font-size:.75em;
  font-weight:300;
  color:black;
}

/*Portrit Phone Media Queries*/
@media only screen and (min-width: 320px) and (max-width: 479px){ 
  /* Customer Logos */
  .customerLogos {
    width: 100%;
    max-width:100vw;
    background-color: #eceef1;
    height:auto;
    display: flex;
    justify-content: center;
  }

  .hero {
    width:100vw;
    height: 400px;
    background-image: url("../images/samanage-header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .heroBanner {
    margin-top: 20px;
  }

  .featuresFlex {
    flex-direction: column-reverse;
  }

  .featuresImg {
    width:320px;
  }
/*Quote Request*/
.quoteRequest {
  width:100vw;
  height: 300px;
  background-image: url("../images/samanage-accordian-form-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.quoteBanner {
  text-align:center;
  color:white;
  width:100vw;
  margin-top:30px;
  padding-top:15px;
  padding-bottom:15px;
}

.quoteHeader {
  font-weight:200;
  font-size:1.8em;
}

.quoteText {
  font-weight:200;
  font-size:.9em;
}

.quoteButtons {
  margin-top:10px;
}

  .socialIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top:50px;
    padding-bottom:50px;
    width:100vw;
  }

  .socialIconImg {
    padding-left:6vw;
    padding-right:6vw;
    padding-top:5vh;
  }
}

/*Tablet Media Queries*/
@media only screen and (min-width: 768px) and (max-width: 1024px){ 

  .customerLogos {
    width: 100%;
    max-width:100vw;
    background-color: #eceef1;
    height:auto;
    display: flex;
    justify-content: center;
  }

  .hero {
    height:300px;
  }

  .heroBanner {
    margin-top: 20px;
  }

  .featuresFlex {
    flex-direction: column-reverse;
  }

  .quoteRequest {
    height: 180px;
  }
  
  .quoteBanner {
    margin-top:15px;
    padding-top:5px;
    padding-bottom:5px;
  }

  .quoteHeader {
    font-weight:200;
    font-size:2em;
  }
  
  .quoteText {
    font-weight:200;
    font-size:1em;
  }
  
  
  .btnQuote {
    background-color: #fbcd1b;
    color: black !important;
    font-size:1em;
  }

  .quoteButtons {
    margin-top:10px;
  }
}